[user]
	name = geekontheway
	email = zxl51@qq.com
	user = geekontheway
[github]
	user = geekontheway
	token = "Set token here"
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[diff]
	tool = vimdiff
[color "branch"]
	  current = yellow reverse
	  local = yellow
	  remote = green
[color "diff"]
	  meta = yellow bold
	  frag = magenta bold
	  old = red bold
	  new = green bold
[color "status"]
	  added = yellow
	  changed = green
	  untracked = cyan
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[core]
	editor = vim
